<!DOCTYPE html>

<html lang="es">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <asp:ContentPlaceHolder ID="tittle" runat="server"></asp:ContentPlaceHolder>
    </title>
    <asp:ContentPlaceHolder ID="head" runat="server"></asp:ContentPlaceHolder>
    <link rel="stylesheet" type="text/css" href="Style.css" />
</head>
<body>
    <form runat="server">
        <header>
            <div>
                <h1>GT Keyword Manager</h1>
                <button type="button" id="BtnSesion">Iniciar Sesión</button>
            </div>
        </header>

        <asp:ContentPlaceHolder ID="body" runat="server"></asp:ContentPlaceHolder>
    </form>

    <footer>
        <div>
            <!-- Contenido del pie de página -->
        </div>
    </footer>
</body>
</html>
