/* Estilos de la parte superior (barra de navegación) */
nav.navbar {
    background-color: #000;
}

    nav.navbar a.navbar-brand, button#BtnSesion {
        color: #fff;
    }

button#BtnSesion {
    background-color: #555;
    border-color: #555;
}



/* Estilos de la parte inferior (contenido de la página) */
body {
    background-color: #f8f9fa;
}

body, h1, h2, h3, h4, h5, h6, p {
    color: #333;
}

.form-label {
    font-weight: bold;
    color: #333;
}

.form-select {
    width: 100%;
    background-color: #479BF5;
    color: #fff;
    border: 1px solid #0056b3;
}

#BtnAdd {
    width: 100%;
    background-color: #2F78C7;
    border-color: #0056b3;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: middle;
    border-color: #333;
    background-color: #17a2b8;
    color: #fff;
}

.btn-sm {
    width: 80px;
    background-color: #007BFF;
    border-color: #0056b3;
    color: #fff;
}

.row {
   /* --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;*/
    display: flex;
    flex-wrap: wrap;
   /* margin-top: calc(-0 * var(--bs-gutter-y));
    margin-right: calc(-.0 * var(--bs-gutter-x));
    margin-left: calc(-.0 * var(--bs-gutter-x));*/
    align-items: center;
    justify-content: center;
}

#background-container {
    position: relative;
    /*background-image: url('../Images/big-data-bbdd-data-base-bases-de-datos.jpg');*/
    background-image: url('../Images/editada.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: transparent;
}




body {
    margin: 0;
    padding: 0;
}

.btn-iniciar-sesion {
    margin-right: 15px;
    width: auto;
}

footer {
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
}

h2 {
    color: #17a2b8;
    margin-bottom: 20px;
}

.container {
    margin-top: 20px;
}

    .container .row {
        margin-bottom: 20px;
    }

#keywordslist .btn-info {
    background-color: #007BFF;
    border-color: #007BFF;
}

#keywordslist .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.container .row.mb-3 {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

    .container .row.mb-3 .col-4 {
        margin-bottom: 10px;
    }


    #keywordslist::-webkit-scrollbar {
        width: 12px;
    }

    #keywordslist::-webkit-scrollbar-track {
        background-color: #00CED1;
    }

    #keywordslist::-webkit-scrollbar-thumb {
        background-color: #008080; 
    }



/* Login*/

.card, {
    max-width: 300px !important;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para los botones del formulario */
.btn-dif {
    margin-right: 10px;
}

/* Estilo para el mensaje de error */
.text-danger {
    margin-top: 10px;
}

/* Estilo para el modal */
.modal {
    text-align: center;
}

/* Estilo para el cuerpo del modal */
.modal-body {
    padding: 20px;
}